* {
    @include reset
}

body {
    font-family: $font;
}

a,
button {
    border: none;
    cursor: pointer;
}

// Scroll
.content {
    &::-webkit-scrollbar {
        width: 10px;
    }
    &::-webkit-scrollbar-track {
        background: map-get($color, "sea");
    }
    &::-webkit-scrollbar-thumb {
        background: #34BCC2;
    }
}