    main {
        width: 100vw;
        height: 100vh;
        overflow: hidden;
        background-color: map-get($color, "sea");
        position: relative;
        .map {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 100vw;
            height: 100vh;
            background-color: map-get($color, "sea");
            transition: 500ms ease-in-out;
            svg {
                width: 100%;
                height: 100%;
                g {
                    cursor: pointer;
                    .continent-name {
                        fill: map-get($color, "white");
                        @include fontSize(hood);
                        font-weight: map-get($font-weight, "b");
                    }
                    &#oceans {
                        cursor: default;
                        .oceans-name {
                            tspan {
                                fill: map-get($color, "ocean-name");
                                @include fontSize(hood);
                                font-weight: map-get($font-weight, "b");
                                @include notSelection;
                            }
                        }
                    }
                    &#oceania {
                        .oceania-part {
                            fill: map-get($color, "oceania");
                            stroke: map-get($color, "black");
                            transition: 400ms ease-in-out;
                        }
                        .continent-name {
                            @include notSelection;
                        }
                        &:hover {
                            .oceania-part {
                                fill: map-get($color, "continent-h");
                                stroke: map-get($color, "sea");
                            }
                        }
                    }
                    &#asia {
                        .asia-part {
                            fill: map-get($color, "asia");
                            stroke: map-get($color, "black");
                            transition: 400ms ease-in-out;
                        }
                        .continent-name {
                            @include notSelection;
                        }
                        &:hover {
                            .asia-part {
                                fill: map-get($color, "continent-h");
                                stroke: map-get($color, "sea");
                            }
                        }
                    }
                    &#africa {
                        .africa-part {
                            fill: map-get($color, "africa");
                            stroke: map-get($color, "black");
                            transition: 400ms ease-in-out;
                        }
                        .continent-name {
                            @include notSelection;
                        }
                        &:hover {
                            .africa-part {
                                fill: map-get($color, "continent-h");
                                stroke: map-get($color, "sea");
                            }
                        }
                    }
                    &#europe {
                        .europe-part {
                            fill: map-get($color, "europe");
                            stroke: map-get($color, "black");
                            transition: 400ms ease-in-out;
                        }
                        .continent-name {
                            @include notSelection;
                        }
                        &:hover {
                            .europe-part {
                                fill: map-get($color, "continent-h");
                                stroke: map-get($color, "sea");
                            }
                        }
                    }
                    &#northAmerica {
                        .northAmerica-part {
                            fill: map-get($color, "northAmerica");
                            stroke: map-get($color, "black");
                            transition: 400ms ease-in-out;
                        }
                        .continent-name {
                            @include notSelection;
                        }
                        &:hover {
                            .northAmerica-part {
                                fill: map-get($color, "continent-h");
                                stroke: map-get($color, "sea");
                            }
                        }
                    }
                    &#southAmerica {
                        .southAmerica-part {
                            fill: map-get($color, "southAmerica");
                            stroke: map-get($color, "black");
                            transition: 400ms ease-in-out;
                        }
                        .continent-name {
                            @include notSelection;
                        }
                        &:hover {
                            .southAmerica-part {
                                fill: map-get($color, "continent-h");
                                stroke: map-get($color, "sea");
                            }
                        }
                    }
                }
            }
        }
        .side-panel {
            position: fixed;
            top: 0;
            right: -50vw;
            z-index: 99;
            display: flex;
            transition: 500ms ease-in-out;
            .categories {
                display: flex;
                flex-direction: column;
                height: fit-content;
                margin-top: 50px;
                span {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    padding: 20px;
                    cursor: pointer;
                    border: 1px solid map-get($color, "ocean-name");
                    border-radius: 10px 0 0 10px;
                    background: map-get($color, "white");
                    svg {
                        @include fontSize(hood);
                        fill: map-get($color, "ocean-name");
                    }
                    &#problem {
                        display: none;
                    }
                    &#article {}
                    &.active {
                        border-right: 0;
                    }
                }
            }
            .content {
                width: 50vw;
                height: 100vh;
                overflow-x: hidden;
                overflow-y: scroll;
                background-color: map-get($color, "white");
                padding: 30px;
                .content-problem {
                    display: none;
                    div {
                        display: none;
                    }
                }
                .content-article {}
            }
            &.active {
                right: 0;
            }
        }
        &.continent {
            .map {
                width: 50vw;
            }
            .side-panel {
                .categories {
                    #problem {
                        display: flex;
                    }
                }
                .content {
                    .content-problem {
                        display: block;
                    }
                    .content-article {
                        display: none;
                    }
                }
            }
        }
        &.continent.oceania {
            .side-panel {
                .content {
                    .content-problem-oceania {
                        display: block;
                    }
                }
            }
        }
        &.continent.asia {
            .side-panel {
                .content {
                    .content-problem-asia {
                        display: block;
                    }
                }
            }
        }
        &.continent.africa {
            .side-panel {
                .content {
                    .content-problem-africa {
                        display: block;
                    }
                }
            }
        }
        &.continent.europe {
            .side-panel {
                .content {
                    .content-problem-europe {
                        display: block;
                    }
                }
            }
        }
        &.continent.northAmerica {
            .side-panel {
                .content {
                    .content-problem-northAmerica {
                        display: block;
                    }
                }
            }
        }
        &.continent.southAmerica {
            .side-panel {
                .content {
                    .content-problem-southAmerica {
                        display: block;
                    }
                }
            }
        }
    }