    main {
        width: 100vw;
        height: 100vh;
        overflow: hidden;
        background-color: map-get($color, "sea");
        position: relative;
        .map {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 100vw;
            height: 100vh;
            background-color: map-get($color, "sea");
            transition: 500ms ease-in-out;
            svg {
                width: 100%;
                height: 100%;
                g {
                    cursor: pointer;
                    .continent-name {
                        fill: map-get($color, "white");
                        @include fontSize(hood);
                        font-weight: map-get($font-weight, "b");
                    }
                    &#oceans {
                        cursor: default;
                        .oceans-name {
                            tspan {
                                fill: map-get($color, "ocean-name");
                                @include fontSize(hood);
                                font-weight: map-get($font-weight, "b");
                                @include notSelection;
                            }
                        }
                    }
                    &#oceania {
                        .oceania-part {
                            fill: map-get($color, "oceania");
                            stroke: map-get($color, "black");
                            transition: 400ms ease-in-out;
                        }
                        .continent-name {
                            @include notSelection;
                        }
                        &:hover {
                            .oceania-part {
                                fill: map-get($color, "continent-h");
                                stroke: map-get($color, "sea");
                            }
                        }
                    }
                    &#asia {
                        .asia-part {
                            fill: map-get($color, "asia");
                            stroke: map-get($color, "black");
                            transition: 400ms ease-in-out;
                        }
                        .continent-name {
                            @include notSelection;
                        }
                        &:hover {
                            .asia-part {
                                fill: map-get($color, "continent-h");
                                stroke: map-get($color, "sea");
                            }
                        }
                    }
                    &#africa {
                        .africa-part {
                            fill: map-get($color, "africa");
                            stroke: map-get($color, "black");
                            transition: 400ms ease-in-out;
                        }
                        .continent-name {
                            @include notSelection;
                        }
                        &:hover {
                            .africa-part {
                                fill: map-get($color, "continent-h");
                                stroke: map-get($color, "sea");
                            }
                        }
                    }
                    &#europe {
                        .europe-part {
                            fill: map-get($color, "europe");
                            stroke: map-get($color, "black");
                            transition: 400ms ease-in-out;
                        }
                        .continent-name {
                            @include notSelection;
                        }
                        &:hover {
                            .europe-part {
                                fill: map-get($color, "continent-h");
                                stroke: map-get($color, "sea");
                            }
                        }
                    }
                    &#northAmerica {
                        .northAmerica-part {
                            fill: map-get($color, "northAmerica");
                            stroke: map-get($color, "black");
                            transition: 400ms ease-in-out;
                        }
                        .continent-name {
                            @include notSelection;
                        }
                        &:hover {
                            .northAmerica-part {
                                fill: map-get($color, "continent-h");
                                stroke: map-get($color, "sea");
                            }
                        }
                    }
                    &#southAmerica {
                        .southAmerica-part {
                            fill: map-get($color, "southAmerica");
                            stroke: map-get($color, "black");
                            transition: 400ms ease-in-out;
                        }
                        .continent-name {
                            @include notSelection;
                        }
                        &:hover {
                            .southAmerica-part {
                                fill: map-get($color, "continent-h");
                                stroke: map-get($color, "sea");
                            }
                        }
                    }
                }
            }
        }
        .side-panel {
            position: fixed;
            top: 0;
            right: -50vw;
            z-index: 99;
            display: flex;
            transition: 500ms ease-in-out;
            .categories {
                display: flex;
                flex-direction: column;
                height: fit-content;
                margin-top: 50px;
                span {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    padding: 20px;
                    cursor: pointer;
                    border: 1px solid map-get($color, "ocean-name");
                    border-radius: 10px 0 0 10px;
                    background: map-get($color, "white");
                    svg {
                        @include fontSize(hood);
                        fill: map-get($color, "ocean-name");
                    }
                    &#problem {
                        display: none;
                    }
                    &#article {}
                    &.active {
                        border-right: 0;
                    }
                }
            }
            .content {
                width: 50vw;
                height: 100vh;
                overflow-x: hidden;
                overflow-y: scroll;
                background-color: map-get($color, "white");
                padding: 75px 80px;
                .content-problem {
                    display: none;
                    div {
                        display: none;
                        h1 {
                            @include fontSize(customHood);
                            font-weight: map-get($font-weight, "b");
                            color: map-get($color, "ocean-name");
                            margin-bottom: 40px;
                        }
                        .select-years {
                            margin-bottom: 30px;
                            input[type="range"] {
                                -webkit-appearance: none;
                                appearance: none;
                                width: 100%;
                                cursor: pointer;
                                outline: none;
                                border-radius: 15px;
                                height: 6px;
                                background: map-get($color, "sea");
                                &::-webkit-slider-thumb {
                                    -webkit-appearance: none;
                                    appearance: none;
                                    height: 30px;
                                    width: 30px;
                                    background-image: url("../../img/favicon.ico");
                                    background-size: cover;
                                    border-radius: 50%;
                                }
                                &::-moz-range-thumb {
                                    height: 30px;
                                    width: 30px;
                                    background-image: url("../../img/favicon.ico");
                                    background-size: cover;
                                    border-radius: 50%;
                                }
                            }
                            .sliderticks {
                                display: flex;
                                justify-content: space-between;
                                padding: 0 3px;
                                flex-direction: column;
                                writing-mode: vertical-lr;
                                width: 100%;
                                margin-top: 10px;
                                cursor: default;
                                @include notSelection;
                                span {
                                    @include fontSize(mtxt);
                                    font-weight: map-get($font-weight, "r");
                                    color: map-get($color, "ocean-name");
                                }
                            }
                        }
                        .charts {
                            display: flex !important;
                            flex-direction: column;
                            align-items: flex-start;
                            gap: 50px;
                            .chart {
                                width: 100%;
                                h3 {
                                    @include fontSize(mhood);
                                    font-weight: map-get($font-weight, "m");
                                    color: map-get($color, "ocean-name");
                                    margin-bottom: 20px;
                                }
                                .time {
                                    display: flex;
                                }
                            }
                        }
                    }
                }
                .content-article {}
            }
            &.active {
                right: 0;
            }
        }
        &.continent {
            .map {
                width: 50vw;
            }
            .side-panel {
                .categories {
                    #problem {
                        display: flex;
                    }
                }
                .content {
                    .content-problem {
                        display: block;
                    }
                    .content-article {
                        display: none;
                    }
                }
            }
        }
        &.continent.oceania {
            .side-panel {
                .content {
                    .content-problem-oceania {
                        display: block;
                        div {
                            display: block;
                            .sliderticks {
                                display: flex;
                            }
                        }
                    }
                }
            }
        }
        &.continent.asia {
            .side-panel {
                .content {
                    .content-problem-asia {
                        display: block;
                        div {
                            display: block;
                            .sliderticks {
                                display: flex;
                            }
                        }
                    }
                }
            }
        }
        &.continent.africa {
            .side-panel {
                .content {
                    .content-problem-africa {
                        display: block;
                        div {
                            display: block;
                            .sliderticks {
                                display: flex;
                            }
                        }
                    }
                }
            }
        }
        &.continent.europe {
            .side-panel {
                .content {
                    .content-problem-europe {
                        display: block;
                        div {
                            display: block;
                            .sliderticks {
                                display: flex;
                            }
                        }
                    }
                }
            }
        }
        &.continent.northAmerica {
            .side-panel {
                .content {
                    .content-problem-northAmerica {
                        display: block;
                        div {
                            display: block;
                            .sliderticks {
                                display: flex;
                            }
                        }
                    }
                }
            }
        }
        &.continent.southAmerica {
            .side-panel {
                .content {
                    .content-problem-southAmerica {
                        display: block;
                        div {
                            display: block;
                            .sliderticks {
                                display: flex;
                            }
                        }
                    }
                }
            }
        }
    }