@mixin reset {
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
    list-style-type: none;
    outline: none;
}

@mixin notSelection {
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

@mixin mediaQuery($max) {
    @media screen and (max-width: $max) {
        @content
    }
}