$color:( "white": #E8E8E8, "black": #000000, "ocean-name": #333333, "sea": #C6D6E6, "oceania": #810E21, "asia": #562D71, "asia-h": #673588, "africa": #1C453D, "europe": #6F1664, "northAmerica": #0E4929, "southAmerica": #752000, "continent-h": #0000D1, "continent-s-h": #ff0000);
$font: ('Roboto Slab', serif);
$font-weight: ("r": 400, "m": 500, "b":700);
// $cursor-default:("l-default": url("/img/icon/cursor/l-default.svg"),
// "d-default": url("/img/icon/cursor/d-default.svg"));
// $cursor-link:("l-link": url("/img/icon/cursor/l-link.svg"),
// "d-link": url("/img/icon/cursor/d-link.svg"));
// $cursor-text:("l-text": url("/img/icon/cursor/l-text.svg"),
// "d-text": url("/img/icon/cursor/d-text.svg"));